body{
    background-image: url(#.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: turquoise;
    transition: 1.1s;
    background:#000000;
    font-size: 1.3em;
    color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
}
a{
  color: white;
  text-shadow: 0 0 8px white;
  font-family:monospace, sans-serif;        
  background-color:#111111;/*cor da borda*/
  color:#11DDFF;/*cor do texto*/
  border-radius:10px;/*formato da borda*/
  text-decoration:none;/*linha embaixo do texto,*/
          font-size:15px;/*tamanho do texto*/
          margin:2px 5px; /*lugar dos botoes*/
          cursor:pointer;/*estilo de cursor de mouse*/
  font-weight:900;/*nivel de negrito*/
   transition: 1s;
}
a1{
  font-family:Arial, sans-serif;        
  background-color:#555555;/*cor da borda*/
  color:#00ff00;/*cor do texto*/
  font-size:100px;/*tamanho da fonte*/
  border-radius:30px;/*formato da borda*/
  text-decoration:none;/*linha embaixo do texto,*/
          display:start;
          font-size:15px;/*tamanho do texto*/
          margin:2px 5px; /*lugar dos botoes*/
          cursor:pointer;/*estilo de cursor de mouse*/
  font-weight:900;/*nivel de negrito*/
   transition: 1s;
  /*imagem logo ajustes*/
rda negativas para centralizar de verdade o elemento */ }